body {
	font-family: Helvetica, Arial, "sans serif";
	font-size: 12px;
}

video, #info, #description {
	display: none;
}

#video-demo {
	display: none;
	position: absolute;
	top: 150px;
	left: 10px;
}

#canvas-source {
	display: none;
	position: absolute;
	top: 40px;
	left: 10px;
}

#canvas-blended {
	display: none;
	position: absolute;
	top: 40px;
	left: 10px;
	}
